* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  color: black;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 50px;
}
.Head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 475px;
  height: 430px;
  row-gap: 10px;
  border-radius: 10px;
  border: 2px solid rgb(93, 92, 92);
}
.box_a {
  width: 460px;
  height: 200px;
  border-radius: 10px;
  background-color: rgb(156, 152, 146);
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  column-gap: 10px;
}
.box_b {
  width: 300px;
  height: 200px;
  border-radius: 10px;
  background-color: rgb(156, 152, 146);
}
.box_c {
  width: 150px;
  height: 200px;
  border-radius: 10px;
  background-color: rgb(156, 152, 146);
}
h3{
  position: relative;
  color: rgb(93, 92, 92);
  top: 60px;
}

@media screen and (min-width: 800px) {
  * {
    box-sizing: border-box;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 50px;
  }
  .Head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 510px;
    height: 510px;
    row-gap: 25px;
    border-radius: 10px;
    border: 2px solid rgb(93, 92, 92);
  }
  .box_a {
    width: 460px;
    height: 100px;
    border-radius: 10px;
    background-color: rgb(156, 152, 146);
  }
  .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    row-gap: 25px;
  }
  .box_b {
    width: 460px;
    height: 200px;
    border-radius: 10px;
    background-color: rgb(156, 152, 146);
  }
  .box_c {
    width: 460px;
    height: 100px;
    border-radius: 10px;
    background-color: rgb(156, 152, 146);
  }
  .name_a, .name_c {
    position: relative;
    color: rgb(93, 92, 92);
    top: 20px;
  }
  .name_b{
    position: relative;
    color: rgb(93, 92, 92);
    top: 70px;
  }
}