* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  color: black;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 50px;
}
.Head {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 690px;
  height: 500px;
  row-gap: 10px;
  border-radius: 10px;
  border: 2px solid rgb(93, 92, 92);
}
.Head_box {
  display: flex;
  justify-content: center;
}

.box_a {
  width: 660px;
  height: 150px;
  border-radius: 10px;
  background-color: rgb(156, 152, 146);
  margin-top: 13px;
}

.box {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}
.box :nth-child(2) {
  align-self: flex-start;
}
.box_b {
  width: 500px;
  height: 150px;
  border-radius: 10px;
  background-color: rgb(156, 152, 146);
}

.box_f {
  width: 150px;
  height: 310px;
  border-radius: 10px;
  background-color: rgb(156, 152, 146);
}
.box_down {
  position: relative;
  display: flex;
  top: -160px;
  left: -80px;
  column-gap: 10px;
}
.box_c {
  width: 160px;
  height: 150px;
  border-radius: 10px;
  background-color: rgb(156, 152, 146);
}
.box_d {
  width: 160px;
  height: 150px;
  border-radius: 10px;
  background-color: rgb(156, 152, 146);
}
.box_e {
  width: 160px;
  height: 150px;
  border-radius: 10px;
  background-color: rgb(156, 152, 146);
}
.name_a {
  position: relative;
  color: rgb(93, 92, 92);
  top: 45px;
}
.name_c,
.name_d,
.name_e,
.name_b {
  position: relative;
  color: rgb(93, 92, 92);
  top: 45px;
}
.name_f {
  position: relative;
  color: rgb(93, 92, 92);
  top: 120px;
}

@media screen and (min-width: 800px) {
  * {
    box-sizing: border-box;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 50px;
  }
  .Head {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 690px;
    height: 660px;
    row-gap: 10px;
    border-radius: 10px;
    border: 2px solid rgb(93, 92, 92);
  }
  .Head_box {
    display: flex;
    justify-content: center;
  }
  .box_a {
    width: 660px;
    height: 150px;
    border-radius: 10px;
    background-color: rgb(156, 152, 146);
    margin-top: 13px;
  }

  .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    column-gap: 10px;
  }

  .box_b {
    width: 660px;
    height: 150px;
    border-radius: 10px;
    background-color: rgb(156, 152, 146);
  }
  .box_down {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: -150px;
    left: 0;
    column-gap: 10px;
  }
  .box_c {
    width: 212px;
    height: 150px;
    border-radius: 10px;
    background-color: rgb(156, 152, 146);
  }
  .box_d {
    width: 212px;
    height: 150px;
    border-radius: 10px;
    background-color: rgb(156, 152, 146);
  }
  .box_e {
    width: 212px;
    height: 150px;
    border-radius: 10px;
    background-color: rgb(156, 152, 146);
  }
  .box_f {
    position: relative;
    top: 170px;
    width: 660px;
    height: 150px;
    border-radius: 10px;
    background-color: rgb(156, 152, 146);
  }
  .name_f {
    position: relative;
    color: rgb(93, 92, 92);
    top: 45px;
  }
}
