body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  color: #f5f7fa;
}

.container {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  margin: 0;
  text-align: center;
}
.box {
  display: flex;
  column-gap: 15px;
  margin: 15px;
}

.Hed {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: cornflowerblue;
  margin-top: 20px;
  width: 510px;
  height: 150px;
}
.Widgets {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(35, 95, 207);
  width: 160px;
  height: 200px;
}

.Contact {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: cornflowerblue;
  width: 510px;
  height: 300px;
}
